
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    outline: none;
    
  }

body {
    background-color: #05010D;
}

/* Estilos para a barra de rolagem */

::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0E193A; 
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #091025; 
  }
  
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 5rem; 
    font-family: 'Alfa Slab One', sans-serif;
}

.info-center {
    display: flex;
    gap: 2rem;
}

.image-bg {
    background-image: url(./assets/fundo.png);
    background-repeat: no-repeat; 
    background-position: center;
    padding-bottom: 9rem;
}

.icones{
    display: flex;
    gap: 85px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16rem;
}


.be-f1rst {
    font-family: 'Bungee Inline';
    font-size: 3.4rem;
    background: linear-gradient(to right, white, #9BD0F5); 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    margin-bottom: -2rem;
}

.subtitulo{
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 1.8rem;
    background: linear-gradient(to right, white, #9BD0F5); 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.button-rigth {
    background: linear-gradient(#0D1731, #05010D);
    font-family: 'inter', sans-serif;
    font-size: 1rem;
    border: 3px solid #ffff;
    border-radius: 7px;
    width: 140px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.torne-seFirster {
    color: #ffffff;
    font-weight: 560;
    font-family: 'Inter', sans-serif;
    margin: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    transition: 0.5s ease-in-out ;
    border: 1px solid #FFFF;
}

.torne-seFirster:hover {
    background-color: #ffffff8e;
    color: #000000;
}

.caixa-seta{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.saiba-mais {
    color: #a7a7a7;
    font-family: 'Inter';
}

.seta-baixo{
    width: 16px;
    height: 16px;
}

.escolha{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: 'Inter';
}

.escolha-frase-cima, .escolha-frase-baixo {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.clube,
.calendario-olimpico1 {
  background:  linear-gradient(to bottom, #253385, #090e36); 
  border-radius: 10px;
}

.conteiner-fundo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding: 10rem;
    font-family: 'Inter';
}

.titulo-cont{
    font-family: 'Inter';
    color: #FFFF;
    font-size: 1.2rem;
}


.secao-1 , .secao-2, .secao-3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #4d517e23;
    padding: 2rem;
    border-radius: 1rem;
}

.icon-cont {
    width: 2rem;
    height: 2rem;
}
.texto-cont1 , .texto-cont2 , .texto-cont3{
    font-family: 'Inter';
    font-size: 1rem;
    color: #ffffffad;
}
